img{
    display: block;
    margin:0 auto;
}

.pColor{
    
    font-size: 12px;
}

.content{
    
    text-align: justify;
    text-justify: auto;
    display: inline-block;
    text-indent: 2em;
    
}